
:root{
     
    --bgColor: #1b244a;
    --colorWhite: #eeee;
    --colorScore: #f94f6d;
    --boardBg:#080001;
    --borderColor: #9aabd8;
}

*,::after,::before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     
}



body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    background-color: var(--bgColor);
    margin: 30px auto;
    padding: 50px 10px;
}

h3{
     color: var(--colorWhite);
     font-size: 40px;

}

.home, .guest{
     display: flex;
     flex-direction: column;
     gap: 15px;
     align-items: center;
     justify-content: center;
}

.score{
     width: 155px;
     height: 120px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--boardBg);
     color: var(--colorScore);
     font-size: 90px;
     border-radius: 5px;
     font-family: "Enathica";

}


.btns{
     display: flex;
     align-content: center;
     justify-content: center;
     gap: 10px;
}
button{
     width: 45px;
     height: 45px;
     border-radius: 5px;
     border: 2px solid var(--borderColor);
     background-color: var(--bgColor);
     color: var(--borderColor);
     font-size: 18px;
     font-family: "Enathica";

}


button:hover{
     background-color: var(--colorWhite);
     color: var(--boardBg);
     cursor: pointer;
     font-size: 1.5rem;
}
 